@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  text-decoration: none;
}
body {
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.wrapper__survival {
  background-image: url(/img/Rectangle.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 7.5em;
}
.header__logo,
.footer__logo{
  display: flex;
  align-items: center;
  font-size: 32px;
}
.header__logo span ,
.footer__logo span{
  margin-left: 16px;
}

header a {
  color: #fff;
}
header,
footer {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-top: 20px;
  padding-bottom: 120px;

  flex-wrap: wrap;

}
.inner {
  display: flex;
  align-items: center;
  font-size: 23px;
  justify-content: center;

  flex-wrap: wrap;

}
.link {
  margin: 0 60px 0 40px;
}
.survival__content span {
  font-size: 48px;
  color: #cd6326;
  letter-spacing: 2px;
}
.survival__content p {
  max-width: 280px;
  margin: 50px 0;
  font-size: 18px;
  line-height: 27px;
}

.survival-btn {
  width: 160px;
  height: 60px;
  left: 120px;
  top: 479px;
  background-color: #cd6326;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-size: 23px;
  transition: 0.9s;
}
.survival-btn:hover {
  background-color: #e39128;
  transition: 0.4s;
}
.header-btn {
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;
  border-radius: 5px;
  font-size: 23px;
  background-color: transparent;
  color: white;
  transition: 0.7s;
}
.header-btn:hover {
  background-color: #cd6326;
  transition: 0.4s;
}
.wrapper__second{
  color:black;
  background-color:#ccc;
  
  

}
.title{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.slider{
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-wrap: wrap;
  
}
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top:250px;
  left: 57px;
  right: 57px;
}
.deer{
  position: relative;
}
.squirrel{
  position: relative;
}
.bird{
  position: relative;
}
.suptitle{
  padding-top: 120px;
  padding-bottom: 10px;
  font-size: 48px;
  line-height: 72px;
  color:#333;
}
.subtitle{
  font-size: 24px;
  line-height: 36px;
  color:#666;
  padding-top: 10px;
  padding-bottom: 120px;
}
.title{
  font-size: 22px;
  line-height: 36px;
  color:#f7f7f7;
  padding-bottom: 10px; 
}
.subtitle__deer{
  font-size: 17px;
  line-height: 27px;
  color:#f7f7f7;
}
.subtitle__squirrel{
  font-size: 17px;
  line-height: 27px;
  color:#f7f7f7;
}
.subtitle__bird{
  font-size: 17px;
  line-height: 27px;
  color:#f7f7f7;
}
.wrapper__form{
  display: flex;
  align-items: center;
  color:black;
  flex-direction: column;
  background-color:#ccc;
}
.form{
  display: flex;
  padding-bottom: 240px;
}
.form  input{
width: 540px;
padding: 15px 20px;
font-size: 23px;
box-sizing: border-box;
border:1px solid #666;
border-right:none;
background-color:transparent;
}
.form  button{
  background:#CD6326;
  border-radius: 0 5px 5px 0;
  width: 120px;
  font-size: 23px;
  color:#f7f7f7;
  border:1px solid #CD6326;
}
.form__title{
  padding: 240px 0 60px;
  font-size: 27px;
  line-height: 40px;
  color:#333;
  text-align: center;
}
footer{
  background-image:url('/img/Rectanglef.jpg');
  padding: 160px 120px ;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__content ,
.content__social,
.inner__links{
  display: flex;

}
.content__link{
  margin: 0 42px;
  font-size: 23px;
  
}
.content__link a{
  color:#f7f7f7;
}
.social__link{
  margin: 0 15px;
}


@media(max-width: 1200px){
  header,
  footer{
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .form input{
    width: 440px;
  }
}
@media (max-width: 576px) {
  .form input{
    width: 240px;
  }
  .form button{
    width: 80px;
  }

  .wrapper__survival{
    padding: 0 30px;
  }
  header{
    justify-content: space-between;
  }
  .inner__links{
    display: none;
  }
}

@media (max-width: 480px) {
  .header__logo span,
  .footer__content{
    display: none;
  }
  .footer__logo{
    padding-bottom: 20px;
  }
}
